.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 16px;
}

.center-container h1 {
  margin-bottom: 80px;
}

.center-container ion-item,
.center-container ion-button {
  margin-top: 16px;
}
